[submodule "hatchet"]
	path = hatchet
	url = https://github.com/hatchet-dev/hatchet.git
	branch = main
[submodule "hatchet-cloud"]
	path = hatchet-cloud
	url = https://github.com/hatchet-dev/hatchet-cloud.git
	branch = feat/iac
